.content {
  margin-left: 18%;
  margin-right: 18%;
}

.mynavbar {
  /* z-index:2; */
  position: fixed; /* Set the navbar to fixed position */
  z-index: 9; 
  width: 100%;
  background-color: #E8E0C8;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

nav {
  margin-left: 20%;
  margin-right: 10%;
  width: 65%;
  background-color: #E8E0C8;
}

.nav_text {
    font-family: Arial;
    color: #1A4146;
    font-size:x-large;
    padding-left: 5%;
    align-items: center;
}

.nav-link{
  transition: 0.3s ease-out;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #1A4146;
}

.intro-text h2 {
  color: #8C4C10;
  font-size: 4vw;
  font-weight: 80; 
  line-height: 94px;
  font-family: Arial;
  margin: 0 0;
}

.intro-text{
  width: 200%;
  padding: 15% 10%;
  background-color: #F4F2ED;
}

@media(max-width:1300px){
  .hamburger{
    display: block;
    padding-top: 10%;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: #E8E0C8;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }

  nav{
    margin-left: 0;
    width: 15%;
  }

  .intro-text h2 {
    font-size: 8vw;
    font-weight: 100; 
    line-height: 70px;
    padding-top: 13%;
  }

  .intro-text{
    width: 200%;
    padding: 10% 5%;
    background-color: #F4F2ED;
  }

  .content {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .header-left {
    display: none;
  }
}

.download{
  color: #1A4146;
  font-size:35px;
  padding: 1%;
}

a {
    text-decoration: none !important;
}


li{
  list-style: none;
}


.header-left {
  position: fixed;
  z-index: 99 !important;
  width: 1150px !important;
  top: 0;
  left: 30%;
  margin-top: 12%;
  margin-left: 15%;
  transform: translateX(-50%);
}

.header-left > .name, h5 {
  color: #1A4146;
  font-family: Arial;
  font-size: x-large;
  letter-spacing: 5px;
  transform-origin: 0 0;
  transform: rotate(-90deg) translateX(-100px);
}


section {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.picture > img{
  height: 100%;
  width: 100%;
  object-fit: cover
}

.intro-text h3{
  color: #8C4C10;
  font-weight: 80; 
  font-family: Arial;
}

.footer_text{
  color: #1A4146;
  font-weight: 100; 
  font-family: Arial;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;

}

.section-title {
  justify-content: center;
  align-items: center;
  width: 40%;
  display: flex;
}

.about {
  background-color: #CD541D;
}

.section-title > div > h3 {
  color: #FCEDD6;
  font-size: 3vw ;
  font-family: Arial;
  font-weight: 50; 
}

.text{
  width: 60%;
  color: #8C4C10;
  font-family: Arial;
  background-color: #F4F2ED;
  font-size: 1.2vw;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 1%;
}

.about-text{
  padding: 3% 5%;
}

.about-img > div{  
  margin-right: 12%;
  margin-left: 5%;
}

.about-img-desc{
  text-align: center;
}

.responsive-img{
  max-inline-size: 100%;
  block-size: auto;
}

.portfolio{
  background-color: #D3A446;
}

.education {
  background-color: #738564;
}

.experience{
  background-color: #386857;
}

.coding{
  background-color:#1A4146;
}

.language {
  background-color: #922637;
}

.contact{
  background-color: #CD541D;
}

.circle{
  margin-left: 4%;
  font-size:3vw; 
  color: #1A4146;
}

li {
  list-style-type: none
}

.experience-title{
  color:#1A4146;
}

.coding-skills-text{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 50; 
}

.coding-skills-element{
  margin-top: 5%;
  margin-left: 11%;
}

.h3-slim{
  margin-bottom: 0;
}

.h4-slim{
  margin-top:1%;
  margin-left:3%;
  font-weight: 50;
}

.p-slim{
  margin-top: 0;
}

.proj{
  position: relative;
  display: inline-block;
}

.proj:hover > .overlay {
  position: absolute;
  top: 0;
  width:100%;
  height:100%;
  left: 0;
  background-color:#000;
  opacity:0.5;
  z-index: 100;
  display:  inline-block;
  z-index:1;
}

